<!doctype HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- SEO -->
    <meta name="author" content="Nikola Dimitroff" />
    <meta name="description" content="A blog about software engineering and math" />
    <meta name="keywords" content="Ubisoft, programming, C++, JavaScript, JS, math, games, high-performance, ФМИ, FMI, Sofia university">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@nikoladimitroff" />
    <meta name="twitter:title" content="Main page" />
    <meta name="twitter:description" content="Nikola Dimitroff's blog" />


    <title>Nikola Dimitroff's blog</title>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="generated/styles.css"/>
    <link rel="icon" type="image/png" href="resources/favicon32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="resources/favicon16.png" sizes="16x16" />

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.min.js"></script>
    <script>
        // Define module and exports to get access to vue analytics as I adding webpack/another
        // web loader is atm out of scope
        window.module = {};
        window.exports = {};
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue-gtag"></script>
    <script>
        // Undefine module and exports in order not to break other libraries
        const VueGTag = window.exports;
        window.module = undefined;
        window.exports = undefined;
    </script>

    <!-- Markdown parser-->
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.0/dist/showdown.min.js"></script>
    <!-- Syntax highlighter -->
    <link rel="stylesheet" href="thirdparty/highlightjs/vs.css">
    <script src="thirdparty/highlightjs/highlight.pack.js"></script>

    <!-- LaTeX -->
    <script type="text/javascript">
        window.MathJax = {
            displayAlign: "center",
            TeX: { equationNumbers: { autoNumber: "all" } },
            tex2jax: {
                inlineMath: [ ['$','$'] ],
                displayMath: [ ['$$','$$'] ],
                processEscapes: true
            },
            "HTML-CSS": {
                linebreaks: {
                    automatic: true
                }
            }
        };
      </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS-MML_HTMLorMML" async></script>

    <!-- Twitter (as described here: https://developer.twitter.com/en/docs/twitter-for-websites/javascript-api/guides/set-up-twitter-for-websites) -->
    <script>
        window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
        t._e.push(f);
        };

        return t;
        }(document, "script", "twitter-wjs"));
    </script>
    <!-- Data file; contains basic info about all available articles -->
    <script src="generated/articleIndex.js"></script>
</head>
<body>
    <template id="article-display" data-autoregister-props="article previous next">
        <main class="article-container">
            <router-link
                title="Back to all posts"
                id="back-to-home-button"
                to="/"
                >
                    <i class="icon icon-left"></i>
            </router-link>
            <h1 id="article-title-heading">{{ article.title }}</h1>
            <div>
                <span class="date-display">Published:</span>
                <span class="date-display">
                    {{ article.publishDate.toLocaleDateString("en-UK", { year: 'numeric', month: 'long', day: 'numeric' }) }}
                </span>
                <br/>
                <span class="date-display">Last edited:</span>
                <span class="date-display">
                    {{ article.lastEditDate.toLocaleDateString("en-UK", { year: 'numeric', month: 'long', day: 'numeric' }) }}
                </span>
            </div>
            <hr/>
            <article v-html="article.renderedContent">
            </article>
            <hr/>
            <div id="article-footer">
                <div
                    id="previous-post"
                    v-bind:style="{ visibility: previous != undefined ? 'visible' : 'hidden' }">
                    <span>Previous post</span>
                    <br/>
                    <router-link
                        class="neighbour-post-button"
                        v-if="previous != undefined"
                        v-bind:to="'/article/' + previous.articleUrl">
                        {{previous.title}}
                    </router-link>
                </div>
                <div id="back-to-top-button" title="Back to top" onclick="scrollToTop()">
                    <i class="icon icon-up"></i>
                </div>
                <div id="next-post"
                    v-bind:style="{ visibility: next != undefined ? 'visible' : 'hidden' }" >
                    <span>Next post</span>
                    <br/>
                    <router-link
                        class="neighbour-post-button"
                        v-if="next != undefined"
                        v-bind:to="'/article/' + next.articleUrl">
                        {{next.title}}
                    </router-link>
                </div>
            </div>
            <div id="comment-section">
                <span v-if="!article.meta.commentCollection">
                    Comments are disabled for this article.
                </span>
                <!-- Set v-key in addition to v-if to force rerender and destroy the twitter widget -->
                <span
                    v-if="article.meta.commentCollection"
                    v-key="article.meta.commentCollection">
                    <a class="twitter-timeline"
                        data-partner="tweetdeck"
                        data-chrome="transparent"
                        v-bind:href="article.meta.commentCollection">
                        Comments for this article on Twitter.
                    </a>
                </span>
            </div>
        </main>
    </template>
    <template id="article-summary" data-autoregister-props="article">
        <div class="article-summary">
            <h3>{{ article.title }}</h3>
            <span class="date-display">
                {{ article.publishDate.toLocaleDateString("en-UK", { year: 'numeric', month: 'long', day: 'numeric' }) }}
            </span>
            <br/>
            <div class="preview" v-html="article.renderedPreview"></div>
            <router-link v-bind:to="'/article/' + article.articleUrl">Read more</router-link>
        </div>
    </template>
    <template id="article-list" data-autoregister-props="articles">
        <ul id="main-page-list">
            <li v-for="article in articles">
                <article-summary v-bind:article="article"></article-summary>
            </li>
        </ul>
    </template>
    <template id="page-not-found" data-autoregister-props="articles">
        <main>
            <h3>404</h3>
            <img src="resources/here_be_dragons.png"/>
        </main>
    </template>

    <div id="vue-container">
        <aside>
            <img id="profile-photo" v-if="presentation.isScreenLandscape" v-bind:src="profile.photoDesktop"/>
            <img id="profile-photo" v-if="!presentation.isScreenLandscape" v-bind:src="profile.photoMobile"/>
            <br/>
            <h3 id="main-link">
                <router-link to="/">{{ profile.websiteName }}</router-link>
            </h3>
            <div v-html="profile.description"></div>
            <ul class="horizontal icon-list">
                    <li><a target="_blank" v-bind:href="profile.linkTwitter"><i class="icon icon-twitter"></i></a></li>
                    <li><a target="_blank" v-bind:href="profile.linkGithub"><i class="icon icon-github-circled"></i></a></li>
                    <li><a target="_blank" v-bind:href="profile.linkSO"><i class="icon icon-stackoverflow"></i></a></li>
                    <li><a target="_blank" v-bind:href="profile.linkEmail"><i class="icon icon-email"></i></a></li>
                </ul>
        </aside>
        <router-view class="view"></router-view>
    </div>
    <script src="main.js"></script>
    <script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
    <script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>
</body>
</html>