/* Theme */
@basic-text-color: black;
@basic-background-color: snow;
@header-font-family: Verdana;
@text-font-family: "Segoe UI";
@aside-border: 1px solid @basic-text-color;

/* Common classes */
ul.horizontal {
    display: flex;
    justify-content: space-between;
    padding: 0;
    > li {
        display: inline-block;
        list-style-type: none;
    }
}

.icon-list {
    li {
        font-size: 2rem;
    }
}

/* Normalization */
html, body {
    margin: 0;
    padding: 0;
    color: @basic-text-color;
    background-color: @basic-background-color;
    font-family: @text-font-family;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @header-font-family;
}

img {
    width: 100%;
}

/* Screens */
#vue-container {
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
}

// Profile
aside {
    height: 100%;
    width: 100vw;
    max-width: 300px;
    margin-left: 1vw;
    margin-right: 1.5vw;
    padding-right: 1.5vw;
    border-right: @aside-border;

    a, a:visited, a:hover, a:focus {
        color: @basic-text-color;
    }
}
#profile-photo {
    border: 3px solid @basic-text-color;
    width: 75%;
    max-height: 75%;
}
#main-link {
    a {
        width: 100%;
        display: inline-block;
        text-decoration: none;
    }
}

// Article

.article-container {
    max-width: 700px;
    width: 100vw;
    padding: 0.5rem;
    overflow: hidden;
}
article {
    width: 100%;
}
#article-footer {
    display: flex;
    justify-content: space-between;
    height: 5rem;
}
#previous-post, #next-post, #back-to-top-button {
    top: 1rem;
}
#previous-post, next-post {
    max-width: 40%;
}
.neighbour-post-button {
    font-size: 1.2rem;
}
#back-to-top-button {
    cursor: pointer;
}

/* Mobile */
@media (max-width: 767px) {
    aside {
        border-right: none;
        border-bottom: @aside-border;
        max-width: none;
    }
    #profile-photo {
        width: 30%;
        transform: translate(-50%, 0);
        position: relative;
        left: 50%;
    }
    #main-link {
        text-align: center;
    }
}