/* Theme */
@basic-text-color: black;
@basic-background-color: snow;
@header-font-family: Verdana;
@text-font-family: "Segoe UI";

/* Common classes */
ul.horizontal {
    display: flex;
    justify-content: space-between;
    padding: 0;
    > li {
        display: inline-block;
        list-style-type: none;
    }
}

.icon-list {
    li {
        font-size: 2rem;
    }
}

/* Normalization */
html, body {
    margin: 0;
    padding: 0;
    color: @basic-text-color;
    background-color: @basic-background-color;
    font-family: @text-font-family;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @header-font-family;
}

/* Screens */
#vue-container {
    padding-top: 5vh;
    display: flex;
}

aside {
    height: 100%;
    width: 15vw;
    margin-left: 1vw;
    margin-right: 1.5vw;
    padding-right: 1.5vw;
    border-right: 1px solid @basic-text-color;

    a, a:visited, a:hover, a:focus {
        color: @basic-text-color;
    }
}
#profile-photo {
    border: 3px solid @basic-text-color;
    width: 75%;
    max-height: 75%;
}
#main-link {
    a {
        width: 100%;
        display: inline-block;
        text-decoration: none;
    }
}

article {
    max-width: 700px;
    width: 100%;
}
#article-footer {
    position: relative;
    height: 5rem;
}
#previous-post, #next-post {
    position: absolute;
    top: 1rem;
}
#next-post {
    left: 75%;
}
.neighbour-post-button {
    font-size: 1.2rem;
}